@import './global/var.less';
// Color

@paragraph: #525f7f;
@checkpoint: #525f7f;
// Paragraph
.paragraph {
  color: @paragraph;
  font-weight: 300;
}
// Checkpoint Text
.checkpoint {
  color: @checkpoint;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.mermaid {
  // mask
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 32;
  }

  // sidecard
  &__side-card {
    margin: 2rem;
    min-height: 8rem;
    background-color: @blur-component-color;
    border-radius: @border-radius;
  }

  // button
  &__btn {
    margin: 0.5rem;
    min-width: 5rem;
    // height: 2rem;
    font-weight: 600;
    border-radius: @border-radius;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 0.54px;

    &.btn {
      // // Color
      // &-primary {
      //   color: #fff;
      //   background-color: #3d55df;
      //   border-color: #324cdd;
      // }
      // &-info {
      //   color: #fff;
      //   background-color: #11cdef;
      //   border-color: #11cdef;
      // }
      // &-success {
      //   color: #fff;
      //   background-color: #2dce89;
      //   border-color: #2dce89;
      // }
      // &-danger {
      //   color: #fff;
      //   background-color: #ec0c38;
      //   border-color: #ec0c38;
      // }
      // &-warning {
      //   color: #fff;
      //   background-color: #fb6340;
      //   border-color: #fb6340;
      // }
      // &-default {
      //   color: #fff;
      //   background-color: #172b4d;
      //   border-color: #172b4d;
      // }
      // &-secondary {
      //   color: #212529;
      //   background-color: #f4f5f7;
      //   border-color: #f4f5f7;
      // }

      // Width
      &-small {
        padding: 0.25rem 0.5rem;
        min-width: auto;
        font-size: 0.875rem;
      }
      &-regular {
        padding: 0.625rem 1.25rem;
        font-size: 0.875rem;
      }
      &-large {
        padding: 0.875rem 1rem;
      }
      &-block {
        width: 100%;
      }

      // Style
      // Default style => have background
      &-round {
        &-primary {
          color: #fff;
          background-color: #3d55df;
          border-color: #324cdd;
        }
        &-info {
          color: #fff;
          background-color: #11cdef;
          border-color: #11cdef;
        }
        &-success {
          color: #fff;
          background-color: #2dce89;
          border-color: #2dce89;
        }
        &-danger {
          color: #fff;
          background-color: #ec0c38;
          border-color: #ec0c38;
        }
        &-warning {
          color: #fff;
          background-color: #fb6340;
          border-color: #fb6340;
        }
        &-default {
          color: #fff;
          background-color: #172b4d;
          border-color: #172b4d;
        }
        &-secondary {
          color: #212529;
          background-color: #f4f5f7;
          border-color: #f4f5f7;
        }
      }

      // Outline style => only border
      &-outline {
        &-primary {
          color: #3d55df;
          border-color: #324cdd;
        }
        &-info {
          color: #11cdef;
          border-color: #11cdef;
        }
        &-success {
          color: #2dce89;
          border-color: #2dce89;
        }
        &-danger {
          color: #ec0c38;
          border-color: #ec0c38;
        }
        &-warning {
          color: #fb6340;
          border-color: #fb6340;
        }
        &-default {
          color: #172b4d;
          border-color: #172b4d;
        }
        &-secondary {
          color: #f4f5f7;
          border-color: #f4f5f7;
        }
      }

      // Link style => only text
      &-link {
        &-primary {
          color: #3d55df;
          border-color: #324cdd;
        }
        &-info {
          color: #11cdef;
        }
        &-success {
          color: #2dce89;
        }
        &-danger {
          color: #ec0c38;
        }
        &-warning {
          color: #fb6340;
        }
        &-default {
          color: #172b4d;
        }
        &-secondary {
          color: #f4f5f7;
        }
      }
    }
  }

  // input
  &__input {
    position: relative;

    // title
    &--title {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition-duration: 0.4s;

      &.activing {
        transform: translate(0%, -200%) scale(0.8);
        transform-origin: top left;
        transition-duration: 0.4s;
      }
    }

    // inputarea
    &--input {
      padding: 0.5rem 0;
      width: 100%;
      letter-spacing: 0.54px;
      border-bottom: 1px solid #646464;
      color: #64646c;
    }
  }

  // switch
  &__switch {
    &--wrap {
      .layout-flex(flex, row, flex-start, center, nowrap);
    }

    // switch icon
    &--icon {
      position: relative;
      width: 2.5rem;
      height: 1.5rem;
      background-color: #fff;
      border-radius: 2rem;
      border: 1px solid #eee;
      transition: all 0.4s cubic-bezier(0.68, -0.56, 0.24, 1.56);
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0, -50%);
        width: 1rem;
        height: 1rem;
        background-color: #ddd;
        border-radius: 64%;
        transition: all 0.4s cubic-bezier(0.68, -0.56, 0.24, 1.56);
      }
      // Active Status
      &.switch-active {
        border: 1px solid #595bb3;
        &::after {
          transform: translate(1rem, -50%);
          background-color: #595bb3;
        }
      }
    }

    // switch text
    &--text {
      margin-left: 1rem;
      .checkpoint;
      cursor: default;
    }

    // Disabled Status
    &.switch-disabled {
      position: relative;
    }
  }
}
