body,h1,h2,p{
    font-family: 'Chelsea', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;

}
a{
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    transition: .2s ease;
}
.black{
    background-color: #000;
}
.flex{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#app{
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}
.wrap{
    flex-direction: column;    
}
h1{
    font-size: 8vw;
    transition: .2s ease;
    letter-spacing: 4px;
}
h2{
    font-size: 6.8vw;
    letter-spacing: 4px;
    transition: .2s ease;
}
h1,h2,h3{
    text-align: center;
}
ul{
    padding: 0;
}
ul,li{
    list-style: none;
}
li{
    font-size: 2.2vw;
    padding: 40px;
    transition: .2s ease;
    text-align: center;
}
.active{
    color: transparent;
}
.hide{
    display: none !important;
}
a:hover{
    background-color: #fff;
    color: #000;
    transition: .2s ease;
}
/*
@media screen and (max-width: 1350px){
    h1{
        font-size: 7rem;
        transition: .2s ease;
    }
    h2{
        font-size: 4.2rem;
        letter-spacing: 4px;
        transition: .2s ease;
    }
}*/
@media screen and (max-width: 1060px){
    ul{
        flex-direction: column;
    }
    li{
        font-size: 4vw;
        padding: 20px;
    }
}/*
@media screen and (max-width: 750px){
    h1{
        font-size: 3rem;
        transition: .2s ease;
    }
    h2{
        font-size: 1.6rem;
        letter-spacing: 4px;
        transition: .2s ease;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding: 20px;
    }
}*/